<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.marketing.coupon.mapper.CouponMapper">

    <insert id="insert">
        insert into t_coupon(coupon_name) values(#{couponName})
    </insert>

    <select id="listCoupon" resultType="com.kk.marketing.coupon.entity.Coupon">
        select * from t_coupon
        <where>
            <if test="params.couponId != null and params.couponId != ''">
                AND coupon_id = #{params.couponId}
            </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.kk.marketing.coupon.entity.Coupon">
        select *
        from t_coupon
        <where>
            <if test="params.couponId != null and params.couponId != ''">
                AND coupon_id = #{params.couponId}
            </if>
            <if test="params.couponName != null and params.couponName != ''">
                AND coupon_name LIKE concat('%',#{params.couponName},'%')
            </if>
        </where>
        order by coupon_id
    </select>

</mapper>